
<div class="bodyContainer"> 
  <div>
    {{#> post-block}}
      {{> posts}}  {{!-- Head content goes here. --}}
      {{> posts}}  {{!-- Head content goes here. --}}
      {{> posts}}  {{!-- Head content goes here. --}}
      {{> posts}}  {{!-- Head content goes here. --}}
      
    {{/post-block}}
  </div>
  <div>
        {{#> side-block}}
      {{> sidepage}}  {{!-- Head content goes here. --}}
    {{/side-block}}

  </div>
</div>