  <link rel="stylesheet" href="/styles/profile.css">
<div id="coverContainer">
<div id="titleImage">
    <img src="/images/sample/titleImage.jpg  ">

    <div class="footerCover">
      <img id="profileImage" src="/images/icon/person1.png">
      <span>UserName</span>
      <nav class="navCover"></nav>
    </div>
</div>
</div>
    {{#> post-block}}
      {{> posts}}  {{!-- Head content goes here. --}}
      {{> posts}}  {{!-- Head content goes here. --}}
      {{> posts}}  {{!-- Head content goes here. --}}
    {{/post-block}}
